= simple_form_for [user,user.profile], url: user_profile_path(user), html: {remote: true, class: 'form form-horizontal'} do |f|
  .row-fluid
    .span6
      %h3=t(:personal_contact)
      = f.input :firstname
      = f.input :lastname
      = f.input :phone_number, as: :tel, autocorrect: false
      = f.input :mobile, as: :tel, autocorrect: false
      = f.input :dob, placeholder: t(:date_of_birth_placeholder), as: :decimal
    .span6
      %h3=t(:social_media)
      = f.input :twitter_handle, placeholder: '@itsme', as: :email, autocorrect: false
      = f.input :facebook_profile, placeholder: 'firstname.lastname', autocorrect: false
      = f.input :google_uid, placeholder: '116071098827301487282', as: :decimal
  .row-fluid
    .form-actions
      = f.button :submit, t(:save), class: "btn btn-primary"
      = button_link_to 'icon-remove','btn', t(:cancel), user_profile_path(user), id: 'personal_information', remote: true, "data-user-id" => user.id.to_s