%h2= t(:your_profile)

- if user.profile.new_record?
  .well
    %p=t(:no_profile_created_yet)
    = button_link_to 'icon-plus-sign', 'btn btn-success', t(:create_your_profile_now), new_user_profile_path(user), remote:true
- else
  .row-fluid
    .offset1      
      - [:firstname,:lastname,:dob,:phone_number,:mobile,:twitter_handle,:google_uid,:facebook_profile].each do |attribute|
        - unless attribute.to_s.strip.blank?
          %p
            = t(attribute.to_sym)
            = ": "
            - value = user.profile.send(attribute)
            - case attribute.to_s.underscore
              - when 'twitter_handle'
                = link_to( value, "http://twitter.com/#{value}", target: :blank)
              - when 'facebook_profile'
                = link_to( value, "http://facebook.com/#{value}", target: :blank)
              - when 'google_uid'
                = link_to( value, "https://plus.google.com/#{value}/about", target: :blank)
              - else
                %strong= value.blank? ? "n/a" : value
      .form-action
        = button_link_to 'icon-edit', 'btn btn-primary', t(:edit), edit_user_profile_path(user), remote: true
        = button_link_to 'icon-edit', 'btn btn-danger', t(:delete), user_profile_path(user), method: :delete, confirm: t(:are_you_sure), remote: true
    


