%h1= title t(:sign_in)

%form.form-horizontal
  %fieldset
    %legend= t(:use_a_login_provider)
    .control-group
      .nav.nav-pills
        - Secrets::defined_providers.each do |provider|
          = link_to provider.to_s.humanize, "/auth/#{provider.to_s.downcase}", :class => 'btn btn-large'
          - if Secrets::secret['openid']
            = link_to "OpenID", "/auth/open_id", :class => 'btn btn-large'

= form_tag( "/auth/identity/callback", :class => 'form-horizontal') do
  %fieldset
    %legend= t(:or_login_below)
    .control-group
      .control-label= label_tag :auth_key, t(:name)
      .controls= text_field_tag :auth_key, '', class: "span3"
    .control-group
      .control-label= label_tag :password
      .controls
        = password_field_tag :password, '', class: "span3"
        .control-help
          %br/
          = icon_link_to( 'icon-question-sign', '', t(:forgot_password), forgot_password_users_path).html_safe
      
    .form-actions
      = submit_tag t(:login), class: "btn btn-primary"
      = t(:or)
      = link_to t(:create_account), new_identity_path, class: "btn btn-success"
