.well
  .pull-right
    = form_tag edit_page_translations_path do
      = hidden_field_tag  :used_keys, used_keys: I18n.used_locales
      = submit_tag t(:edit_translations), class: "btn btn-primary"
  %h3= t(:used_locales)

  %ul
    - I18n.used_locales.each do |key|
      %li
        %strong= key
        ="=>"
        = t(key)

