.auth-buttons
  - _provider = Secrets::defined_providers.to_a
  - _provider << 'identity'
  - _provider.in_groups_of(3) do |group|
    .row-fluid
      - group.each do |type|
        - if type
          - _selected =  user.authentications.where(:provider => type.to_s.downcase).first
          .span4.well
            %h4.bold
              = type.to_s.humanize
              %small= _selected.uid.to_s if _selected
            - if _selected
              %p= button_link_to( 'icon-minus', 'btn btn-info span8', t(:remove), user_authentication_path(user._id,_selected), confirm: t(:are_you_sure), method: :delete)
              %p= render "new_password_form", user: user, authentication: _selected if type == 'identity'
            - elsif type == 'identity'
              %p= button_link_to 'icon-plus','btn btn-success span8',t(:create_account), new_identity_path unless _selected
            - else
              %p= button_link_to 'icon-plus','btn btn-default span8', "#{type.to_s.humanize}", "/auth/#{type}"
            %br/