- @user.update_attribute(:password_reset_token, "%012x" % rand( 1.terabyte ))
%p.clear-left
  %br/
  = link_to t(:change_password), '#', class: 'toggle-next'
  = simple_form_for user do |f|
    = f.input  :password, label: t(:new_password)
    = f.input  :password_confirmation, label: t(:confirm_password)
    = f.input :password_reset_token, as: 'hidden', input_html: {value: user.password_reset_token}
    = f.submit t(:set_new_password), class: 'btn btn-primary'