- present user do |presenter|
  - short ||= false
  .well{:id => user.id.to_s}
    = presenter.options_menu
    .pull-left.shadow-img= presenter.avatar(:thumb)
    .offset1
      %h2= presenter.name
      - unless (_sm = presenter.social_media_links).blank?
        %p= _sm
      %p
        = presenter.email
        - unless short
          = presenter.confirmed_at
          %br/
          = presenter.exists_since
      - unless short
        = presenter.facilities
        - unless params[:action] == 'show'
          = presenter.oauth_providers
    .clear-both

    