- present user do |presenter|
  .well{:id => user.id.to_s}
    = presenter.options_menu
    .span1= presenter.avatar
    .offset1
      %h2= presenter.name
      - unless (_sm = presenter.social_media_links).blank?
        %p= _sm
      %p
        = presenter.email
        = presenter.confirmed_at
        %br/
        = presenter.exists_since
      = presenter.facilities
      - unless params[:action] == 'show'
        = presenter.oauth_providers
    .clear-both

    