- top_menu do
  %ul{:class=>"nav nav-tabs"}
    %li= ("&nbsp;"*8).html_safe
    %li= link_to t(:you), @user
    %li.active= link_to t(:edit), edit_user_path(@user)
    %li= link_to t(:listing_users), root_path
    
= form_for(@user,:html=>{:class=>"form-vertical"}) do |f|
  %fieldset
    %legend= title "Edit User '#{@user.name}'"
    - if @user.errors.any?
      .control-goup
        .control-label &nbsp;
        .controls
          .alert.alert-error
            - @user.errors.each do |field, error|
              %strong= field.to_s.humanize
              = error.to_s
    .control-group{class: @user.errors[:name].present? ? "error" : ""}
      .control-label= f.label :name
      .controls
        .input-prepend
          .add-on
            %span.icon-user
          = f.text_field :name, :disabled => true
          %span.help-inline= t(:help_name_uneditable)
    .control-group{class: @user.errors[:email].present? ? "error" : ""}
      .control-label= f.label :email
      .controls
        .input-prepend
          .add-on
            %span.icon-envelope
          .input= f.text_field :email
        %span.help-inline
          - @user.errors.each do |field, error|
            %strong= field.to_s.humanize
            = error.to_s
    .form-actions
      = f.submit "Save", class: 'btn btn-primary'
      = link_to t(:cancel), :back, :class => 'btn'
