- top_menu do
  %ul{:class=>"nav nav-tabs"}
    %li= ("&nbsp;"*8).html_safe
    %li= link_to t(:you), @user
    %li.active= link_to t(:edit), edit_user_path(@user)
    %li= link_to t(:listing_users), users_path
    
= simple_form_for(@user,:html=>{:class=>"form-horizontal"}) do |f|
  %fieldset
    %legend= title( "Edit User '#{@user.name}'")
    =f.input :name, :disabled => !@user.new_record?, :hint => icon_prefix('icon-exclamation-sign',t(:help_name_uneditable))
    =f.input :email
    .form-actions
      =f.button :submit, t(:save), class: 'btn btn-primary'
      =icon_link_to 'icon-remove-sign', 'btn', t(:cancel), :back
