- top_menu do
  %ul{:class=>"nav nav-tabs"}
    %li= ("&nbsp;"*8).html_safe
    %li= link_to t(:you), @user
    %li.active= link_to t(:edit), edit_user_path(@user)
    %li= link_to t(:listing_users), users_path

= simple_form_for(@user,:html=>{:class=>"form-vertical"}) do |f|
  %legend= title( "Edit User '#{@user.name}'")
  .row-fluid
    .span9
      %fieldset
        =f.input :name, :disabled => !@user.new_record?, :hint => icon_prefix('icon-exclamation-sign',t(:help_name_uneditable))
        =f.input :email, as: :email, autocorrect: false
        %fieldset
          = f.label :location_token, t(:location_label)
          = f.text_field :location_token
          = f.label :search_by_address, t(:search_by_address)
          = text_field_tag "address", '', placeholder: t(:search_place_example)
          %div{style: 'font-size: smaller'}= t(:search_place_hint)
    .span2{:id => 'location-preview'}
  .form-actions
    =f.button( :submit, t(:save), class: 'btn btn-primary')
    =button_link_to 'icon-remove-sign', 'btn btn-default', t(:cancel), :back
