
.row
  .span12
    %h1= t(:forgot_password)
    %p
      %br/
    %blockquote
      = t(:forgot_password_explanation)
    %br/
.row
  .span12
    %h2=t(:send_reset_token_to)
    %br/
    = form_tag send_password_reset_token_users_path, class: 'form form-horizontal' do 
      %fieldset
        .control-group
          .control-label= t(:email)
          .controls
            = text_field_tag :email, '', placeholder: t(:enter_your_email), class: 'input'
        .form-actions
          .button= submit_tag t(:send_token), class: 'btn btn-primary', id: 'commit-button'