- @load_javascript_on_top = true
= render 'shared/search'
= render 'users_menu'

= javascript_include_tag 'endless_page'

%h1.pull-right= title( t(:listing_users))
%br/
%hr/
%br/

.container
  #result
    = render :partial => '/shared/pagination_page', :locals => { :resources => @users, :path => users_path, :alert_error_text => t(:no_user_found_for, search: @search.search_text) }
