= render 'shared/search'
= render 'users_menu'
%h1.pull-right= title( t(:listing_users))
%br/
%hr/
%br/

.container
  #result
    - unless @users.any?
      .alert.alert-error= t(:no_user_found_for, search: @search.search_text)
    - else
      .each_user_show
        - @users.each do |user|
          = render 'user', :user => user
