%h1= t(:reset_your_password)
=simple_form_for @user, html: {class: 'form form-horizontal'} do |f|
  %fieldset
    = f.input :password_reset_token, as: 'string', input_html: {value: params[:token]||params[:user][:password_reset_token]}
    = f.input :password, as: 'password'
    = f.input :password_confirmation, as: 'password'
  .form-action
    = f.button :submit, t(:reset_password)

