- top_menu do
  %ul{:class=>"nav nav-tabs"}
    %li= ("&nbsp;"*8).html_safe
    %li.active= link_to t(:you)
    %li= link_to t(:edit), edit_user_path(@user)
    %li= link_to t(:listing_users), root_path
    
.hero-unit
  .row
    .span4
      %h2= title('User')
      %ul.nav.span4
        %li= button_link_to 'icon-user', '', @user.name, '#'
        %li= button_link_to 'icon-envelope', '', @user.email, "mailto:#{@user.email}" if @user.email
    .span2.offset3            
      %ul.nav.nav-pills
        %li= button_link_to 'icon-edit', 'nav btn btn-primary span3', t(:edit), edit_user_path(@user)
        %li= button_link_to 'icon-remove', 'nav btn btn-danger span3',t(:cancel_account), user_path(@user), :confirm => t(:are_you_sure), :method => :delete
    %div{style: 'clear: both'}
  

.row
  .span12
    %table.table.table-striped
      %thead.thead
        %tr
        %th= t(:provider)
        %th= t(:uid)
        %th.span1 &nbsp;
        %tbody.tbody
        - _provider = Secrets::defined_providers.to_a
        - _provider << 'identity'
        - _provider.each do |type|
          %tr
            - _selected =  @user.authentications.where(:provider => type.to_s.downcase).first
            %td
              -if _selected
                %strong= type.to_s.humanize 
              - else
                = type.to_s.humanize unless _selected
            - if _selected
              %td= _selected.uid.to_s
              %td
                = button_link_to( 'icon-minus', 'btn btn-info span2', t(:remove),user_authentication_path(@user,_selected), confirm: t(:are_you_sure), method: :delete)
                    
            -else
              -if type == 'identity'
                %td &nbsp;
                %td
                  = button_link_to 'icon-plus','btn btn-success span2',t(:create_account), new_identity_path
              -else
                %td –
                %td
                  = button_link_to 'icon-plus','btn btn-default span2', "#{type.to_s.humanize}", "/auth/#{type}"
        %caption{style: "text-align: left"}
          %h3= t(:authentication_providers)
   
