- top_menu do
  %ul{:class=>"nav nav-tabs"}
    %li= ("&nbsp;"*8).html_safe
    %li.active= link_to t(:you)
    %li= link_to t(:edit), edit_user_path(@user)
    %li= link_to t(:listing_users), root_path
    
.hero-unit
  %ul.nav.pull-right
    %li= link_to t(:edit), edit_user_path(@user), :class => "btn btn-primary"
    %li= link_to t(:cancel_account), user_path(@user), :confirm => t(:are_you_sure), :method => :delete,:class => "btn btn-danger"
  %h2
    = title("#{t(:user)} #{@user.name}")
  %ul.nav.nav-pills.nav-stacked
    %li
      %i.icon-user
      %strong= @user.name
    %li
      %i.icon-envelope
      %span= link_to @user.email, "mailto:#{@user.email}" if @user.email

.div
  %table.table.table-striped
    %thead.thead
      %tr
        %th= t(:provider)
        %th= t(:uid)
        %th.span1 &nbsp;
      %tbody.tbody
        - _provider = Secrets::defined_providers.to_a
        - _provider << 'identity'
        - _provider.each do |type|
          %tr
            - _selected =  @user.authentications.where(:provider => type.to_s.downcase).first
            %td
              -if _selected
                %strong= type.to_s.humanize 
              - else
                = type.to_s.humanize unless _selected
            - if _selected
              %td= _selected.uid.to_s
              %td.input-prepend{ :class => "btn btn-warning span2"}
                %i.icon-minus
                = link_to( t(:remove),user_authentication_path(@user,_selected), confirm: t(:are_you_sure), method: :delete)
                    
            -else
              -if type == 'identity'
                %td &nbsp;
                %td.input-prepend{:class=> "btn btn-success span2"}
                  %i.icon-plus
                  = link_to t(:create_account), new_identity_path, style: "color: white"
              -else
                %td –
                %td.input-prepend{:class=> "btn btn-info span2"}
                  %i.icon-plus
                  = link_to "#{type.to_s.humanize}", "/auth/#{type}"
      %caption{style: "text-align: left"}
        %h3= t(:authentication_providers)
 
