- top_menu do
  %ul{:class=>"nav nav-tabs"}
    %li= ("&nbsp;"*8).html_safe
    %li.active= link_to t(:you)
    %li= link_to t(:edit), edit_user_path(@user)
    %li= link_to( t(:listing_users), users_path) if can_read?('Admin')
    
= render 'user', :user => @user

.clear-both

%ul{:class => "nav nav-tabs"}
  %li.active= link_to t(:authentication_providers), auth_providers_user_path(@user), id: 'authentication_providers', remote: true, "data-user-id" => @user.id.to_s
  %li= link_to t(:personal_information), personal_information_user_path(@user), id: 'personal_information', remote: true, "data-user-id" => @user.id.to_s

.row
  #profile_section.span12
    = render 'auth_providers', user: @user