- top_menu do
  %ul{:class=>"nav nav-tabs"}
    %li= ("&nbsp;"*8).html_safe
    %li.active= link_to t(:you)
    %li= link_to t(:edit), edit_user_path(@user)
    %li= link_to t(:listing_users), root_path
    
.hero-unit
  .row
    .span4
      %h2= title('User')
      %ul.nav.span4
        %li
          %i.icon-user
          %strong= @user.name
        %li
          %i.icon-envelope
          %strong= link_to @user.email, "mailto:#{@user.email}" if @user.email
    .span2.offset3            
      %ul.nav.nav-pills
        %li.nav.btn.btn-primary.span3= link_to "<i class='icon-edit'></i> ".html_safe + t(:edit), edit_user_path(@user)
        %li.nav.btn.btn-danger.span3= link_to "<i class='icon-remove'></i> ".html_safe + t(:cancel_account), user_path(@user), :confirm => t(:are_you_sure), :method => :delete
    %div{style: 'clear: both'}
  

.row
  .span12
    %table.table.table-striped
      %thead.thead
        %tr
        %th= t(:provider)
        %th= t(:uid)
        %th.span1 &nbsp;
        %tbody.tbody
        - _provider = Secrets::defined_providers.to_a
        - _provider << 'identity'
        - _provider.each do |type|
          %tr
            - _selected =  @user.authentications.where(:provider => type.to_s.downcase).first
            %td
              -if _selected
                %strong= type.to_s.humanize 
              - else
                = type.to_s.humanize unless _selected
            - if _selected
              %td= _selected.uid.to_s
              %td{ :class => "btn btn-warning span2"}
                %i.icon-minus
                = link_to( t(:remove),user_authentication_path(@user,_selected), confirm: t(:are_you_sure), method: :delete)
                    
            -else
              -if type == 'identity'
                %td &nbsp;
                %td{:class=> "btn btn-success span2"}
                  %i.icon-plus
                  = link_to t(:create_account), new_identity_path
              -else
                %td –
                %td{:class=> "btn span2"}
                  %i.icon-plus
                  = link_to "#{type.to_s.humanize}", "/auth/#{type}"
        %caption{style: "text-align: left"}
          %h3= t(:authentication_providers)
   
