- top_menu do
  %ul{:class=>"nav nav-tabs"}
    %li= ("&nbsp;"*8).html_safe
    %li.active= link_to t(:you)
    %li= link_to t(:edit), edit_user_path(@user)
    %li= link_to( t(:listing_users), users_path) if can_read?('Admin')
    
= render 'user', :user => @user

.clear-both

#user-menu.row-fluid
  = render 'user_menu', user: @user

.row-fluid
  #profile-section.span12
    = render 'auth_providers', user: @user