.controll-group.fileupload.fileupload-new{ :"data-provides" => "fileupload"}
  %label.control-label{ for: "#{model_id}"}= field_label
  .controls
    .uneditable-input.span3
      %i.icon-file.fileupload-exists
      %span.fileupload-preview
    %span.btn.btn-file
      %span.fileupload-new= t(:select_file)
      %span.fileupload-exists= t(:change_file)
      %input{ type: "file", id: "#{model_id}", name: "#{field_name}" }
    %a.btn.fileupload-exists{ href: "#", :"data-dismiss" => "fileupload" }= t(:remove_file)
    - if !local_assigns[:existing_file_preview].nil?
      = image_tag( existing_file_preview )