%ul{class: "nav pull-right"}
  %li
    - unless user_signed_in?  
      = link_to(t(:login), signin_path)
  - if current_user 
    %ul.nav
      %li.dropdown
        = link_to (current_user.name + " <b class='caret'></b>").html_safe, "#", :class => 'dropdown-toggle', 'data-toggle' => 'dropdown'
        %ul.dropdown-menu
          %li= icon_link_to 'icon-user', '', t(:edit_profile), user_path(current_user)
          %li= icon_link_to 'icon-off', '', t(:logout), signout_path
    - if current_user.can_execute?('Admin')
      %ul.nav
        %li.dropdown
          = link_to "Admin <b class='caret'></b>".html_safe, "#", :class => 'dropdown-toggle', 'data-toggle' => 'dropdown'
          %ul.dropdown-menu
            %li= icon_link_to('icon-user', '', t(:userlist), users_path)
            %li= icon_link_to('icon-list', '', t(:pages), pages_path)

