- unless Settings.show_user_menu == false
  %ul{class: "nav pull-right"}
    - unless user_signed_in?  
      %li.dropdown
        = link_to ((t(:login))+"<b class='caret'></b>").html_safe, "#", :class => 'dropdown-toggle', 'data-toggle' => 'dropdown'
        %ul.dropdown-menu
          %li= icon_link_to 'icon-off', '', t(:login), signin_path
          %li.hr
          - Secrets::defined_providers.each do |provider|
            %li= link_to provider.to_s.humanize, "/auth/#{provider.to_s.downcase}"
            - if Secrets::secret['openid']
              %li= link_to "OpenID", "/auth/open_id"
          %li.hr
          %li= icon_link_to 'icon-leaf', '', t(:register_new_account), new_identity_path
    - else
      - if current_user.can_execute?('Admin')
        %ul.nav
          %li.dropdown
            = link_to "Admin <b class='caret'></b>".html_safe, "#", :class => 'dropdown-toggle', 'data-toggle' => 'dropdown'
            %ul.dropdown-menu
              %li= icon_link_to('icon-user', '', t(:userlist), users_path)
              %li= icon_link_to('icon-th-large', '', t(:sections), sections_path)
              %li= icon_link_to('icon-list', '', t(:pages), pages_path)
      %ul.nav
        %li.dropdown
          = link_to avatar(:tiny), '#', :class => 'dropdown-toggle', 'data-toggle' => 'dropdown', style: 'margin: 0px; padding: 0px; padding-top: 5px;'
          %ul.dropdown-menu
            = render 'shared/signed_in_menu'
