= "<script id='template-upload-all' type='text/x-tmpl'>".html_safe
= "  <div class='upload'>".html_safe
= "    {%=o.name%}".html_safe
= "    <div class='progress progress-success'><div class='bar' style: 'width: 0%'></div></div>".html_safe
= "  </div>".html_safe
= "</script>".html_safe