= simple_form_for @attachment, html: { multipart: true } do |f|
  .well
    - @attachment.application_file ||= ApplicationFile.new( attachment: @attachment )
    = simple_fields_for @attachment.application_file do |app_file|
      - app_file.input :file, as: :file
  .form-actions
    = f.button :submit, t(:upload_file), class: 'btn-primary'
    = "&nbsp;[&nbsp;#{link_to t(:cancel), :back}&nbsp;]".html_safe