- title strip_tags(Settings.application_brand || t(:welcome).humanize)

.row-fluid
  - if Page.with_banner.any?
    .row-fluid
      #slides.carousel.slide
        - first_item = true
        .carousel-inner
          - (_banner_pages=Page.with_banner).all.each do |page|
            %div{class: "banner #{first_item ? 'active item' : 'item'}"}
              = render 'pages/banner', banner: page.banner
            - first_item = false
        - if _banner_pages.count > 1
          .carousel-control.left= link_to "&lsaquo;".html_safe, "#slides", "data-slide"=>"prev"
          .carousel-control.right= link_to "&rsaquo;".html_safe, "#slides",  "data-slide"=>"next"
          
  .row-fluid
    - if @hero
      .hero
        =render 'pages/page_menu', page: @hero
        - present @hero do |hero|
          = hero.body.html_safe
    - else
      .alert.alert-error
        %i.icon-warning-sign
        %h1
          Please create a page with permalink 'hero' which will be displayed here.

- @features.to_a.in_groups_of( _columns=(Settings.columns_startpage||2) ) do |row|
  .row-fluid
    - span_width =  (12 / _columns).to_i
    - raise "Settings.columns_startpage must be <= 6" if _columns > 6
    - (0..(_columns-1)).to_a.each do |col|
      - if row[col]
        %div{class: "span#{span_width}"}
          = render row[col]

