%h1= title "Home / Userlist"


.nav
  - @users.each do |user|
    %ul
    -if user == current_user
      %li.btn.btn-primary{style: 'float: right; margin-top: 20px; margin-right: 20px'}
        = link_to t(:edit_your_record).html_safe, user, class: "btn-primary"
      %li.btn.btn-danger{style: 'float: right; margin-top: 20px;margin-right: 10px'}
        = link_to t(:cancel_account), user_path(user), :confirm => t(:are_you_sure), :method => :delete,:class => "btn-danger"

    %li.well
      %h3= user.name
      %ul
        - user.authentications.each do |auth|
          %li
            = auth.provider.to_s.humanize
    
