%h1= title "Home / Userlist"

.div
  - @users.each_with_index do |user,idx|
    .well
      %h2= user.name
      -if user == current_user
        %ul.nav.pull-right
          %li= link_to t(:edit_your_record).html_safe, user, class: "btn btn-primary span2"
          %li= link_to t(:cancel_account), user_path(user), :confirm => t(:are_you_sure), :method => :delete,:class => "btn btn-danger span2"
      %ul
        - user.authentications.each do |auth|
          %li
            = auth.provider.to_s.humanize
  
