- title t(:welcome)

.row-fluid
  .hero-unit
    .row-fluid
      - if @hero
        - if can_execute?('Admin')
          %ul.nav.pull-right
            %li.dropdown
              =icon_link_to( 'icon-cog', "btn", '<b class="caret"></b>'.html_safe, "#", :class => 'dropdown-toggle', 'data-toggle' => 'dropdown')
              %ul.dropdown-menu
                %li= icon_link_to( 'icon-zoom-in', '', t(:open_page), page_path(@hero))
                %li= icon_link_to( 'icon-edit', '', t(:edit_page), edit_page_path(@hero))
                %li= icon_link_to( 'icon-remove', '', t(:delete), page_path(@hero), :method => :delete, :confirm => t(:are_you_sure))
    
        = markdown( @hero.body )
      - else
        .alert.alert-error
          %i.icon-warning-sign
          %h1
            Please create a page with permalink 'hero' which will be displayed here.

- @features.to_a.in_groups_of(2) do |row|
  .row-fluid
    .span6
      = render row[0] if row[0]
    .span6
      = render row[1] if row[1]

