=form_for page, :html => { class: 'form-vertical'} do |f|
  %fieldset
    .control-group
      .control-label= f.label :title, t(:title)
      .controls= f.text_field :title, :disabled => !page.new_record?, :style => "width: 100%"
      .control-help= t(:title_can_not_be_changed_once_created)
    .control-group
      .control-label= f.label :body, t(:body)
      .controls= f.text_area :body, :style => "width: 100%"
    .control-group
      .form-actions
        = f.submit t(:save_something, what: t(:page)), class: 'btn btn-primary'
        = f.submit t(:cancel), class: 'btn'

  