.well{:style=> params[:controller]=='home' ? 'min-height: 200px;' : 'min-height: 165px;', :class => page.date_range}
  - if !page.title
    .alert.alert-error
      t(:page_has_no_title)
  - else
    - _preview = truncate((page.body||''),length: page.preview_length_or_default, omission: "... ")
    - _link = icon_link_to( "icon-eye-open", "btn", t(:read_more), page)
    - truncated = _preview.length < (page.body||'').length

    - present page do |presenter|
      = render 'pages/page_menu', page: page
      = presenter.banner_preview
      - if truncated && Settings.supress_page_title != true
        %h2= link_to page.title, page
      - elsif Settings.supress_page_title != true
        %h2=page.title
      %div
        %strong= presenter.body_snippet(_preview)
        %br/
        = render "comments/comments_preview", commentable: page
        %br/
        - if truncated
          = _link
