- if page.title
  - _preview = truncate(page.body,length: page.preview_length_or_default, omission: "... ")
  - _link = icon_link_to( "icon-eye-open", "btn", t(:read_more), page)
  - truncated = _preview.length < page.body.length
    
  
  .well{:style=> params[:controller]=='home' ? 'min-height: 200px;' : ''}
    - present page do |presenter|
      = render 'pages/page_menu', page: page
      = presenter.banner_preview
      - if truncated && Settings.supress_page_title != true
        %h2= link_to page.title, page
      - elsif Settings.supress_page_title != true
        %h2=page.title
      %article
        = presenter.body_snippet strip_tags(_preview)
        = render "comments/comments_preview", commentable: page
        %br/
      - if truncated
        = _link
    .clear-both