- if can_execute?('Admin')
  .nav
    - if page.is_hero?
      %ul.nav.pull-left
        %li
          %label= icon_label 'icon-exclamation-sign icon-white', 'label label-important', "HERO-UNIT", :title => "First article on root-path"
    - if page.is_featured?
      %ul.nav.pull-left
        %li
          %label= icon_label 'icon-exclamation-sign icon-white', 'label label-info', "FEATURED", :title => 'Shown on root-path'

  .pull-right{ :class => Rails.env != 'test' ? "dropdown" : ""}
    %button.btn{ 'data-toggle' => 'dropdown'}
      =icon_prefix( 'icon-cog', carret)
    %ul{ :class => Rails.env != 'test' ? "dropdown-menu" : "" }
      %li= icon_link_to( 'icon-zoom-in', '', t(:open_page), page_path(page)) unless params[:action] == 'show'
      %li= icon_link_to( 'icon-edit', '', t(:edit_page), edit_page_path(page)) unless ['new','edit'].include? params[:action]
      %li= icon_link_to( 'icon-remove', '', t(:delete_page), page_path(page), :method => :delete, :confirm => t(:are_you_sure)) unless params[:action] == 'new'
  %p{style: 'clear: left;'}      
  
  