- present @page do |presenter|

  - title @page.title

  - if presenter.vpage.banner
    #scroll-to{ :"data-offset" => Settings.page_banner_offset||200}
    .row-fluid
      #banner.banner.carousel= render 'banner', page: presenter.vpage
      .clear-both
      %br/

  - if presenter.vpage.section
    = render 'section_subnav', section: presenter.vpage.section
  
  - unless presenter.version_links.nil?
    .alert.alert-info
      = icon_link_to 'icon-chevron-right', '', t(:versions_of_this_document), '#', id: 'toggle-versions-list'
      #version-list 
        = presenter.version_links

  .row-fluid
    = render 'article', presenter: presenter

  - unless Settings.multilanguage == false
    .row-fluid
      = render 'translations', page: presenter.vpage   
