- if @page.section
  = render 'section_subnav', section: @page.section

- present @page do |presenter|
  .row-fluid
    - if @page && @page.title
      %article
        %h1= title( presenter.title )
        %address= presenter.created_at
        = render 'pages_menu'
        %hr
        .content= presenter.body
    - else
      .alert.alert-error= t(:page_not_found)
.row-fluid
  = render 'translations', page: @page   
