- present @page do |presenter|
  - if @page.banner && @page.banner.banner.exists?
    .row-fluid
      - if @page.banner
        #banner.banner.carousel= render 'banner', banner: @page.banner
  - if @page.section
    = render 'section_subnav', section: @page.section

  .row-fluid
    - if @page 
      %article
        = render 'pages_menu'
        .content= presenter.body
    - else
      .alert.alert-error= t(:page_not_found)

- if can_execute?('Admin')
  .row-fluid
    = render 'translations', page: @page   
