- title @page.title
- present @page do |presenter|
  - if @page.banner && @page.banner.banner.exists?
    .row-fluid
      - if @page.banner
        #banner.banner.carousel= render 'banner', banner: @page.banner
  - if @page.section
    = render 'section_subnav', section: @page.section

  .row-fluid
    - if @page 
      %article
        - unless Settings.supress_page_title == true
          - if @page.banner && (@page.banner.linked_url != '#')
            %h1=link_to presenter.title, @page.banner.linked_url
          - else
            %h1=presenter.title
        = render 'pages_menu'
        .content= presenter.body
    - else
      .alert.alert-error= t(:page_not_found)

- unless Settings.multilanguage == false
  .row-fluid
    = render 'translations', page: @page   
