= render 'pages_menu'
.row-fluid
  - if @page     
    %article
      %h1= title( @page.title )
      %address= localize @page.created_at
      .content= markdown( @page.body )
  - else
    .alert.alert-error= t(:page_not_found)
     
