%br/
= render 'shared/user', user: current_user
.pull-left
  = button_link_to 'icon-envelope', 'btn btn-primary', t(:invite_contact), new_contact_path

%h1.pull-right= title t(:contacts)
%br/
%hr/

#your-contacts
  %h2= t(:your_contacts)
  %br/
  - if @contacts.any?
    = render @contacts, short: true
  - else
    .alert.alert-info
      =t(:invate_contact_hint_if_no_contacts_exists)

#you-are-a-contact-of
  - if @rcontacts.any?
    %h3= t(:you_are_a_contact_of)
    %br/
    = render @rcontacts, short: true
  - else
    .alert.alert-info= t(:you_are_not_listed_as_a_contact_by_any_other_user)