- @identity ||= Identity.new
.row-fluid
  .span6
    .hero-unit
      %div= markdown( t('new_account_hero_unit.one').gsub(/=+/, "\n--\n"))
      %div= markdown( t('new_account_hero_unit.two').gsub(/=+/, "\n--\n"))
      - if current_user
        %h3
          = t(:you_are_signd_in_as, name: current_user.name)

  .span6
    %br/
    %br/
    %br/
    = simple_form_for(@identity,:url=>"/auth/identity/register") do |f|
      - @identity.name ||= current_user.name if current_user
      %fieldset
        %legend= title t(:new_account)
        - unless current_user
          =f.input :name, :input_html => {:id => 'name',:name => 'name'}
        - else
          %strong= @identity.name
          = f.input :name, as: :hidden, :input_html => {:id => 'name',:name => 'name'}
        =f.input :password, :input_html => {:id => 'password', :name => 'password'}
        =f.input :password_confirmation, :input_html => {:name => 'password_confirmation', :id => 'password_confirmation'}
        =f.button :submit, t(:register), class: 'btn btn-success'
        =button_link_to 'icon-remove', 'btn', t(:cancel), signin_path