.timeline-checkboxes.controlls
  - timelines = current_user.postable_timelines.reject{|_tl| _tl.nil? || _tl == current_user.timeline }
  %strong=t(:send_to_timelines) if timelines.any?
  - timelines.each do |timeline|
    .check-box-with-label
      = check_box_tag "timelines_to[#{timeline._id}]", timeline.id, timeline == current_user.timeline
      = label_tag "timelines_to[#{timeline._id}]", timeline.name
      -# = label_tag "timelines_to[#{timeline._id}]", timeline.name.titleize
