%br/
%h1=t(:timeline)

.row-fluid
  .span8
    #post-message-form
      - if is_action?('index')
        .post-message-http-view
          = render 'timelines/post_message_http'
      - else
        = render 'timelines/post_message_ajax'
    #events
      = render 'events', events: @events
  .span4
    .well
      = render 'personal_timeline'
    .well
      = render 'timeline_subscriptions', timelines: @timelines