!!! 5
%html{:lang => I18n.locale.to_s}
  %head
    %meta{:charset => "utf-8"}/
    %title= strip_tags( content_for?(:title) ? yield(:title) : Settings.application_name || 'Configure Settings.application_name' )
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    / Le styles
    :css
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    = javascript_include_tag "application" if @load_javascript_on_top
    = stylesheet_link_tag "application", :media => "all"
    / Le fav and touch icons
    %link{:href => "/images/favicon.ico", :rel => "shortcut icon"}/
    %link{:href => "/images/apple-touch-icon.png", :rel => "apple-touch-icon"}/
    %link{:href => "/images/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}/
    %link{:href => "/images/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}/
    %meta{:name=>"viewport", :content=>"width=device-width, initial-scale=1.0"}


  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href => (root_url + "#")}= (Settings.application_brand || "Please set application_brand in settings").html_safe
          .container.nav-collapse
            %ul.nav
              = render "shared/section_menu"
            = render 'shared/navigation'
            %ul.nav.pull-right
              - ensure_default_search_box
              = yield(:search_bar) 
            
            
    .main-background
      .container.main
        - if content_for?(:top_menu)
          %div=content_for(:top_menu)
        - if flash.any?
          .row-fluid
            .span12
              - flash.each do |type,msg|
                .alert{:class => "alert alert-#{flash_alert(type)}"}
                  = close_icon 
                  %strong= flash_title(type).html_safe
                  %br/
                  = msg
        .row-fluid
          - if content_for?(:content_menu)
            .span9= yield
            .span3
              .sidebar-nav
                %h1 &nbsp;
                %ul.well.nav.nav-list
                  = yield(:content_menu)
          - else
            .span12
              = yield
              
      
    %footer
      .container
        = render 'shared/section_footer'
        %hr/
        = render 'shared/copyright'
        - if Settings.multilanguage == true
          &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
          = render 'shared/language_selection'
          &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
          = render 'shared/footer_right'
        
    /
      Le javascript
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application" unless @load_javascript_on_top
    = javascript_include_tag "http://maps.googleapis.com/maps/api/js?sensor=false"
